.PetFollowUp_Table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.PetFollowUp_Table_Div{
  display: block;
  height: 400px;
  border-radius: 10px;
  overflow-y: scroll;
  border-style: solid;
border-color: white;

}


.PetFollowUp_Table td, .PetFollowUp_Table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.PetFollowUp_Table td{
  word-wrap: break-word;
}

.PetFollowUp_Table thead{
  border-radius: 10px;
}

.PetFollowUp_Table tr:hover {background-color: #eff5ff;}

.PetFollowUp_Table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #2f9c34;
color: white;
}

