  
  
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

  #TopMenu_Items a{
    text-decoration: none;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .FontPage_Images{
    background-position: center;
    background-size: cover;
    min-height: 100%;
    width: 100%; 
    height: 710px;
  }



  /* /MODAL APPOINTMENT TEXTFIELD CSS/ */
  


  #make_appointment_modal_Entries  input[type=text], input[type=date], select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  #make_appointment_modal_Entries input[type=checkbox]{
    padding: 5px;
    margin-top: 10px;
  }

  #make_appointment_modal_Entries input[type=radio]{
    padding: 5px;
    margin-top: 10px;
    
  }





  p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }


.leftspace
{
  padding-left: 10px;
}






.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .login100-more {
     /*width: calc(100% - 560px); */
    height: auto;
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*z-index: 1;*/
  }
  
  .login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
  } 
  
  .header_titles{
      font-size: 20px;
      font-family: "segoe ui", sans-serif;
  }
  
  .header_div{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;  
  }
  
  .animate_top{
                -webkit-animation: animatetop 0.3s;
                animation: animatetop 0.3s;
                top: 0;
              }
  
              .modal {
                  display: none; /* Hidden by default */
                  position: fixed; /* Stay in place */
                  z-index: 1; /* Sit on top */
                  left: 0;
                  top: 0;
                  width: 100%; /* Full width */
                  height: 100%; /* Full height */
                  overflow: auto; /* Enable scroll if needed */
                  background-color: rgb(0,0,0); /* Fallback color */
                  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            /* padding-top: 60px; */
                  padding-top: 8%;
                  /*background-color: grey;*/
                  /* overflow-x: hidden; */
              }
  
              /* Modal Content/Box */
              .modal-content {
                  background-color: #fefefe;
                  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
                  border: 1px solid #888;
                  width: 70%; /* Could be more or less, depending on screen size */
  
                  overflow-y: auto;
                  /* overflow-x: scroll; */
              }


              /* Date time picker css start*/
              label {
                display: block;
                font: 1rem 'Fira Sans', sans-serif;
            }
            
            input,
            label {
                margin: .4rem 0;
            }
              /* Date time picker css end */

             
              #navbar {
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
                display: block;
                transition: top 0.3s;
              }
              
              
              
              #navbar a:hover {
                background-color: #ddd;
                color: black;
              }
              
              .w3-center
              {
                padding-top: 4%
              }

              .textoverimage{color:#000!important;background-color:#4BD979!important}
              .textoverimage-hover:hover{color:#000!important;background-color:#2eb82e!important}

              .row{ background: #fefefe; color:black}
              .row2{ background: #1f2e2e; color:white}
              .row3{background: #fefefe; color:black}
              .container-services{width:100%;} 
              .container-header{padding-top: 6%; padding-left: 10%}
              .container-header2{padding-top: 4%; padding-left: 6%}
              .services-padding{padding-left: 15%}
              .column-pad{float:left; padding-right: 10%;padding-top: 5%}
              .column-pad2{float:left; padding-right: 10%;padding-top: 5%}
              .line{
                border-bottom: 5px solid black;
                }
                .plaintext{
                  font-size: 40px;
                  font-family: "Arial", sans-serif;
                  width:30%;
                  padding-left: 1%;
                  padding-top:1%;
                  padding-bottom:1%;
                  border-radius: 10px;
                  
              }
                .text{
                  font-size: 40px;
                  font-family: "Arial", sans-serif;
                  background: #293d3d;
                  width:16%;
                  padding-left: 1%;
                  padding-top:1%;
                  padding-bottom:1%;
                  border-radius: 10px;
                  
              }
              .text2{
                font-size: 30px;
                font-family: "Arial", sans-serif;
                background: #293d3d;
                  width:23%;
                  padding-left:1%;
                  padding-top:1%;
                  padding-bottom:1%;
                  border-radius: 10px;
            }
            .text3{
              font-size: 20px;
              font-family: "Arial", sans-serif;
              background: #293d3d;
                width:95%;
                padding-left:1%;
                padding-top:1%;
                padding-bottom:1%;
                border-radius: 10px;
          }
          .aboutusphoto{
            position: absolute;
  top: 120%;
  right: 7%;
  height: 40%;
  width: 50%;
  border:10px solid #000;
          }
            .container-subHeader{padding-top: 1%; padding-left: 9%}
              
                
